<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-header-services@^1.1.0,o-fonts@^2.2.0,o-forms@^3.3.0,o-buttons@^4.4.4
" />
		<link rel='stylesheet' href='/styles.css' />
	</head>
	<body>
		
		{{>nav}}
		
		<main>
			{{{body}}}
		</main>

		<script src="//origami-build.ft.com/v2/bundles/js?modules=o-header-services%401.1.0%3A%2Fdemos%2Fsrc%2Fmain.js%2Co-fonts%40%5E2.0.0,o-forms@^3.3.0"></script>
	<body>
</html>